<div class="col-md-8 col-centered">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">edit a job </h3>
    </div>
    <div class="panel-body">
    <%= simple_form_for @job do |f| %>

    <%= t('f.input :title') %>
    <%= t('f.input :description')  %>
    <%= t('f.input :wage_lower_bound')%>
    <%= t('f.input :wage_upper_bound') %>
    <%= t('f.input :contact_email') %>
    <%= t('f.input :is_hidden') %>

      <%= f.submit "Submit", class:"btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
