<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">40K Offer</h1>
       <h2>目前總共有 <%= User.count %> 名使用者 </h2>

       <p class="slogan">40K Offer 是一个提供40K薪水工作機會的求職網站。
         <br>
         因為低於40Ｋ現在北部租屋有障礙生活費也是問題
         <br>
         至少要超過40K你才有生活機會
         <br>
         此網站就專門尋找40k以上的工作機會
       </p>
       <p class="lead">
         <%= link_to '馬上驗證', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

</div>
</div>
</div>

<div class="content-section-a">
<div class="container">
<div class="row">
  <div class="col-lg-5 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">找工作一定要帶手機</h2>
    <p class="lead">因為沒有手機,公司就聯絡不到</p>
  </div>
  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
    <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
  </div>
</div>
</div>
</div>

<div class="content-section-b">
<div class="container">
<div class="row">
  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">一定要把履歷寫好再投</h2>
    <p class="lead">履歷不會寫就一定要上網求助  <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 金克拉小麥畝產一千八</p>
  </div>
  <div class="col-lg-5 col-sm-pull-6  col-sm-6">
    <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
  </div>
</div>
</div>
</div>

<div class="content-section-a">
<div class="container">
<div class="row">
  <div class="col-lg-5 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">找工作很難<br>必須要會篩選</h2>
    <p class="lead">可以看推薦工作<a target="_blank" href="https://forum.qzy.camp/">才有機會</a></p>
  </div>
  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
    <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
  </div>
</div>
</div>
</div>
