<h1> Edit a job </h1>

<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :title, :label => t('f_title')  %>
<%= f.input :description, :label => t('f_description')  %>
<%= f.input :wage_lower_bound, :label => t('f_age_lower_bound')  %>
<%= f.input :wage_upper_bound, :label => t('f_wage_upper_bound')  %>
<%= f.input :contact_email, :label => t('f_contact_email') %>
<%= f.input :is_hidden, :label => t('f_is_hidden') %>
<%= f.input :address, :label => t('f_address') %>

  <%= f.submit "Submit" %>
<% end %>
